.home-container {
  display: flex;
  justify-content: center;
}

.home-heading {
  max-width: 550px;
}

.home-description {
  max-width: 500px;
}

.home-heading {
  font-size: 38px;
  margin-bottom: 20px;
}

.home-description {
  font-size: 18px;
  margin-bottom: 30px;
}

.right-box {
  position: relative;
  z-index: 2;
}

.right-box img {
  border-radius: 10px;
  
}

.right-box img:last-child {
  position: absolute;
  left: 150px;
  top: -100px;
  z-index: -1;
}

.left-box {
  margin-right: 60px;
}